/* ---- MIXINS ---- */

@mixin breakpoint {
  @media (min-width: 50em) {
    @content;
  }
}

/* ---- FONTS ---- */

@font-face {
  font-family: "Inter";
  src: url("./../assets/fonts/Inter-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Lexend Deca";
  src: url("./../assets/fonts/LexendDeca-VariableFont_wght.woff2")
    format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

/* ---- CUSTOM PROPERTIES ---- */

:root {
  --hsl-clr-primary: 277 64% 61%;
  --hsl-clr-secondary: 244 38% 16%;
  --hsl-clr-accent-400: 233 47% 7%;

  --hsl-clr-neutral-100: 0 0% 100%;

  --hsl-clr-attribution: 228 45% 74%;

  --clr-primary: hsl(var(--hsl-clr-primary));
  --clr-secondary: hsl(var(--hsl-clr-secondary));
  --clr-accent-400: hsl(var(--hsl-clr-accent-400));
  --clr-neutral-100: hsl(var(--hsl-clr-neutral-100));
  --clr-neutral-200: hsl(var(--hsl-clr-neutral-100) / 0.75);
  --clr-neutral-400: hsl(var(--hsl-clr-neutral-100) / 0.6);
  --clr-attribution: hsl(var(--hsl-clr-attribution));

  --font-family-alternate: "Inter", sans-serif;
  --font-family-default: "Lexend Deca", sans-serif;

  --fw-thin: 100;
  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;

  --fs-100: 0.3rem;
  --fs-200: 0.7rem;
  --fs-300: 0.78rem;
  --fs-400: 0.9375rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 1.45rem;
  --fs-800: 1.75rem;
  --fs-900: 2rem;
  --fs-special: 3.8rem;

  --fs-attribution: 0.6875rem;
}

/* ---- GENERAL STYLING ----*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.grid-flow {
  display: grid;
}

.flex-flow {
  display: flex;
}

.attribution {
  margin-block-start: 5em;

  font-size: var(--fs-attribution);
  text-align: center;
}
.attribution a {
  color: var(--clr-attribution);
}
